@font-face {
    font-family: get show;
    font-style: normal;
    font-weight: 400;
    src: local('Get Show'), url('custom_fonts/Get Show.woff') format('woff')
}

h2 {
    font-family: 'Get Show', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #091747;
}